@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ranga&display=swap');

html,
body,
#root,
.App
{
    height: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: 'Poppins';
    font-size: 15px;

}

button {
    background-color: #47be61;
}

input,
textarea {
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    height: 50px;
    padding: 0 18px;
    font-family: 'Poppins';
    font-size: 15px;
}

textarea {
    resize: none;
    width: 100%;
    padding: 10px 18px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    margin: 0 110px;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1220px;
}

.main.left-aligned {
    justify-content: flex-start;
}

.tile {
    padding: 28px;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 8px 0px rgba(70, 52, 52, 0.03);
}

.tile h2 {
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.tile.half {
    width: 590px;
}

.tile.break-row {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

button {
    font-family: 'Poppins';
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    height: 40px;
    color: white;
}

form button.submit {
    height: 40px;
    margin-top: 12px;
    background-color: #47BE61;
    color: white;
}

button.edit {
    background-color: #47BE61;
    color: white;
}

button.delete {
    background-color: #D84A41;
    color: white;
}

.modal section.footer {
    display: flex;
}

.modal section.footer button {
    width: 120px;
    height: 36px;
}

.modal section.footer button:first-child {
    margin-right: 8px;
    background-color: #D0D0D0;
}

.modal section.footer button:last-child {
    color: white;
}

.Toastify .Toastify__toast {
    padding: 0 8px;
    min-height: 60px;
}

.Toastify .Toastify__toast-container {
    z-index: 19999;
}

.Toastify .Toastify__toast-body {
    padding: 0 16px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
}

.row-filter-container {
    display: flex;
    justify-content: space-between;
}

.row-filter-container + .row-filter-container {
    margin-top: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-container > span {
    width: 134px;
}

p.no-results {
    flex-basis: 100%;
    text-align: center;
}

.button-add-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 40px;
}

.button-add-container button {
    height: 36px;
}