{
    "server": {
        "host": "localhost",
        "port": 3200
    },
    "jwtSecret": "...",
    "mysql": {
        "host": "...",
        "port": 3306,
        "database": "...",
        "user": "...",
        "password": "..."
    },
    "mail": {
        "service": "gmail",
        "senderName": "KKBus",
        "user": "...@gmail.com",
        "password": "..."
    }
}