.login-page,
.signup-page,
.remind-password-page,
.post-sign-up-page,
.post-activation-page {
    height: 100%;
    display: flex;
    overflow: hidden;   
}

.background {
    flex: 35%;
    width: 35%;
    height: 100%;
    background-position: 40% 0;
    background-size: cover;
}

.container {
    width: 65%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.login-panel,
.signup-panel,
.remind-password-panel,
.post-sign-up,
.post-activation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 250px;
}

.logo {
    font-family: 'Ranga';
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
}

.login-panel h2,
.signup-panel h2,
.remind-password-panel h2 {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 20px;
}

.logo span:first-child {
    color: #D9B430;
}

form {
    display: flex;
    flex-direction: column;
}

.login-panel input,
.signup-panel input,
.remind-password-panel input,
.submit {
    width: 400px;
    height: 50px;
    font-family: 'Poppins';
    font-size: 15px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.login-panel .submit,
.remind-password-panel .submit,
.signup-panel .submit,
.post-sign-up .submit,
.post-activation-page .submit {
    background-color: #D9B430;
    color: black;
    font-weight: 500;
    width: 100%;
}

.action {
    display: flex;
    flex-direction: column;
    width: 358px;
    margin-top: 20px;
    font-size: 15px;
}

.action a {
    margin-bottom: 4px;
    text-decoration: none;
    color: #D9B430;
    font-weight: 500;
}

form .row {
    display: flex;
    justify-content: space-between;
}

.signup-panel form div input {
    width: 190px;
}

.post-sign-up-page p,
.post-activation-page p {
    font-size: 18px;
    font-weight: 500;
    width: 400px;
}

.post-sign-up-page .container p {
    margin-bottom: 38px;
}

.post-activation-page p + p{
    margin-bottom: 38px;
}