.booking-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 562px;
    height: 60px;
}

.booking-item-row:first-child span:first-child {
    color: #D9B430;
}

.booking-item-row:first-child span {
    font-weight: 500;
}

.booking-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.booking-list .print {
    width: 180px;
    height: 48px;
}

.booking-header-info {
    display: flex;
    justify-content: space-between;
}

.booking-header-info .booking-info p:last-child {
    display: flex;
    justify-content: space-between;
}

.booking-header-info .booking-info p:last-child span:last-child {
    color: rgb(217, 180, 48);
}

@media print {
    .print {
      display: none;
    }
  }