
table.bookings-table {
    width: 100%;
}

table.bookings-table th {
    color: black;
    text-align: left;
    padding: 0;
    font-weight: 500;
}

table.bookings-table tr {
    height: 40px;
}

table.bookings-table tbody tr:nth-child(2n + 1) {
    background-color: rgb(240, 240, 240);
}

table.bookings-table th:first-child,
table.bookings-table td:first-child {
    padding-left: 8px;
}

table.bookings-table tbody td:nth-child(n + 4) {
    padding: 0;
    text-align: left;
}

table.bookings-table tbody td:nth-child(1) {
    background-color: transparent;
}

table.bookings-table td:nth-child(2),
table.bookings-table td:nth-child(3),
table.bookings-table th:nth-child(2),
table.bookings-table th:nth-child(3) {
    padding-left: 8px;
}

table.bookings-table th:nth-child(4),
table.bookings-table th:nth-child(5),
table.bookings-table th:nth-child(6),
table.bookings-table tbody td:nth-child(4),
table.bookings-table tbody td:nth-child(5),
table.bookings-table tbody td:nth-child(6) {
    text-align: center;
    width: 120px;
}

.bookings-table th:last-child,
.bookings-table td:last-child {
    width: 100px;
}

table.bookings-table td button {
    width: 100px;
    background-color: #C73535;
}