table.currentBookings th {
    color: black;
    text-align: left;
    padding: 0;
}

table.currentBookings tr {
    height: 40px;
}

table.currentBookings tr:nth-child(2n + 1) {
    background-color: rgb(240, 240, 240);
}

table.currentBookings th:first-child,
table.currentBookings td:first-child {
    padding-left: 8px;
}

table.currentBookings {
    width: 100%;
}

table.currentBookings tbody td:nth-child(n + 3) {
    padding: 0;
    text-align: left;
}

table.currentBookings th:nth-child(4),
table.currentBookings th:nth-child(5),
table.currentBookings th:nth-child(6),
table.currentBookings td:nth-child(4),
table.currentBookings td:nth-child(5),
table.currentBookings td:nth-child(6) {
    text-align: center;
    width: 120px;
}

table.currentBookings td:nth-child(6) {
    width: 120px;
}

.currentBookings th:last-child,
.currentBookings td:last-child {
    width: 100px;
}

table.currentBookings td button {
    width: 100px;
    background-color: #C73535;
}

table.currentBookings tbody td:nth-child(1) {
    background-color: transparent;
}


