.fuel-usage form input {
    width: 100%;
}

.tile.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tile.select h2 {
    margin-bottom: 0;
}

.fuel-usage-history {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

.fuel-usage-history > span:nth-child(1) {
    width: 140px;
}

.fuel-usage-history > span:nth-child(2) {
    width: 80px;
}

.fuel-usage-history > span:nth-child(3) {
    width: 80px;
}

.fuel-usage-history > span:nth-child(4) {
    width: 120px;
}

.fuel-usage-history + .fuel-usage-history {
    margin-top: 10px;
}

.fuel-usage-history.header {
    font-weight: 500;
}

.submit {
    height: 48px;
    width: 180px;
    background-color: #47BE61;
    color: white;
}

svg stop[offset="0%"] {
    stop-color: #D9B430;
    stop-opacity: 0.5;
}

svg stop[offset="100%"] {
    stop-color: #D9B430;
    stop-opacity: 0;
}

svg polyline.fill {
    stroke-width: 0;
    fill: url(#bg)
}

svg polyline.stroke {
    stroke: #D9B430;
    stroke-width: 2px;
    fill: transparent;
}