.header-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    background-color: rgb(32, 32, 26);
    width: 100%;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 64px;
    width: 100%;
    max-width: 1252px;
    position: relative;
}

.header-bar .logo {
    display: flex;
    align-items: center;
    font-family: 'Ranga';
    font-size: 38px;
    font-weight: normal;
    margin-bottom: 20px;
    height: 100%;
    cursor: pointer;
}

.logo span:first-child {
    color: #D9B430;
}

.header-bar .logo span:last-child {
    color: white;
}


.header-action-signin,
.header-action-signout {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    right: 16px;  
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header-action-signin a {
    color: #D9B430;
    margin-right: 26px;
}

.header-action-signin p {
    color: white;
    cursor: pointer;
}

.header-action-signout a:first-child{
    color: white;
    margin-right: 26px;
}

.header-action-signout a:last-child{
    color: #D9B430;
}



nav {
    display: flex;
    height: 48px;
    background-color: rgb(48, 48, 42);
}

.nav-action {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
    max-width: 1252px;
}

.nav-action .item {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    margin-right: 26px;
    position: relative;
}

.nav-action .item:last-child {
    margin-right: 0;
}

.item.selected {
    color: #D9B430;
}

.nav-action .item.selected::after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 2px 2px 0 0;
        background-color: #D9B430;
}

