.loyalty-program-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loyalty-program-page .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loyalty-program-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.loyalty-program-container h2 {
    margin-bottom: 0;
}

.loyalty-program-container h3 {
    color: #D9B430;
    font-size: 15px;
    font-weight: 500;
}

.reward {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding-left: 8px;
}

.reward + .reward {
    margin-top: 8px;
}

.reward:nth-child(2n - 1) {
    background-color: rgba(0, 0, 0, 0.05);
}

.reward button {
    width: 95px;
    height: 100%;
    background-color: #47BE61;
    color: white;
    border-radius: 2px;
}

.reward .modify {
    display: flex;
    height: 100%;
}

.reward .delete {
    background-color: #D84A41;
    margin-left: 6px;
}

.right-side .signup {
    background-color: #47BE61;
    color: white;
}

.right-side .login {
    color: black;
}

.right-side .login,
.right-side .signup {
    width: 265px;
    height: 40px;
    margin-top: 14px;
    border-radius: 2px;
}

.loyalty-program-page p + p {
    margin-top: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.loyalty-program-page .loyalty-program-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.tile.half .reward {
    display: flex;
    justify-content: space-between;
    width: 100%;
}