.loyalty-program .main {
    display: flex;
    align-items: flex-start;
}

.loyalty-program .main.owner {
    justify-content: flex-end;
}

.add-reward {
    width: 150px;
    height: 36px;
    margin-bottom: 40px;
}

.loyalty-program .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loyalty-program .points {
    color: #D9B430;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    margin-bottom: 20px;
}

.login {
    background-color: #e0e0e0;
}

.reward {
    padding-left: 12px;
    border-radius: 2px;
    align-items: center;
    height: 40px;
}

.reward-header {
    font-weight: 500;
}

.reward,
.reward-header {
    display: flex;
    text-align: center;
}

.reward-header {
    margin-bottom: 7px;
}

.reward header {
    text-align: start;
}

.reward span:first-child,
.reward-header span:first-child {
    width: 380px;
    text-align: left;
}

.reward-header span:first-child  {
    padding-left: 8px;
}

.reward span:nth-child(n + 2),
.reward-header span:nth-child(n + 2)
{
    width: 180px;
}

.reward-header span:first-child,
.reward span:first-child {
    flex: 1;
}

.reward-header span:last-child {
    margin-right: 196px;
}

.reward:nth-child(2n - 1) {
    background-color: rgba(0, 0, 0, 0.05);
}

.reward button {
    width: 95px;
    height: 38px;
    color: white;
}

.reward .modify {
    display: flex;
    height: 38px;
}

.reward .delete {
    margin-left: 6px;
}

.loyalty-program .button-container .login,
.loyalty-program .button-container .signup {
    width: 265px;
    margin-top: 14px;
    border-radius: 2px;
}

.loyalty-program .button-container .signup {
    background-color: #47BE61;
    color: white;
}

.loyalty-program .button-container .login {
    color: black;
}

.loyalty-program-page p + p {
    margin-top: 8px;
}

.loyalty-program  .button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.loyalty-program-page .loyalty-program-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.tile.half .reward {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loyalty-program .tile.half p {
    font-weight: normal;
}

.loyalty-program .modal {
    width: 456px;
}

.loyalty-program .modal .footer button {
    height: 36px;
}

.loyalty-program .modal .footer button.delete {
    background-color: #C73535;
}

.loyalty-program .modal .content p {
    margin-bottom: 25px;
    text-align: left;
}

.reward-history {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.reward-history:nth-child(2n + 1) {
    background-color: rgb(240, 240, 240);
}

.reward-history > span:first-child {
    padding-left: 12px;
}

.reward-history > span:last-child {
    padding-right: 12px;
}

.reward-history > span:first-child,
.reward-history > span:last-child {
    flex: 1;
}

.reward-history > span:last-child {
    text-align: center;
}

.reward-history > span:nth-child(2) {
    width: 250px;
}