.loyalty-program .main {
    display: flex;
    align-items: flex-start;
}

.loyalty-program .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loyalty-program .points {
    color: #D9B430;
    font-size: 15px;
}

.reward {
    display: flex;
    align-items: center;
    height: 40px;
}

.reward-header {
    display: flex;
    font-weight: 500;
    background-color: burlywood;
}

.reward-header span {
    border: 2px solid red;
}

.reward.owner span {
    border: 2px solid brown;
}

.reward.owner span:first-child,
.reward-header span:first-child {
    width: 380px;
}

.reward.owner span:nth-child(2),
.reward-header span:nth-child(2) {
    width: 180px;
}

.reward.owner span:nth-child(3),
.reward-header span:nth-child(3) {
    width: 180px;
}

.reward.owner span:nth-child(4),
.reward-header span:nth-child(4) {
    width: 180px;
}

.reward + .reward {
    margin-top: 8px;
}

.reward:nth-child(2n - 1) {
    background-color: rgba(0, 0, 0, 0.05);
}

.reward button {
    width: 95px;
    height: 100%;
    color: white;
}

.reward .modify {
    display: flex;
    height: 100%;
}

.reward .delete {
    margin-left: 6px;
}

.button-container .login,
.button-container .signup {
    width: 265px;
    margin-top: 14px;
    border-radius: 2px;
}

.button-container .signup {
    background-color: #47BE61;
    color: white;
}

.button-container .login {
    color: black;
}

.loyalty-program-page p + p {
    margin-top: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.loyalty-program-page .loyalty-program-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.tile.half .reward {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loyalty-program .tile.half p {
    font-weight: normal;
}

.loyalty-program .tile.half p + p {
    margin-top: 8px;
}