.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile.half.tile-container {
    padding: 0;
}

.tile.half.tile-container > .tile {
    margin: 0;
}

.tile.half.tile-container > .tile:last-child {
    background-color: rgba(217, 180, 48, 0.05);
    padding: 0;
}

.track-header {
    display: flex;
    align-items: baseline;
}

.track-info {
    width: 50%;
}

.direction span {
    height: 40px;
    font-size: 20px;
    font-weight: 500;
}

.direction span:first-child {
    margin-right: 20px;
}

.direction span:last-child {
    margin-left: 24px;
}

.direction span:nth-child(2) {
    letter-spacing: -8px;
    color: #D9B430;
}

.route {
    margin-top: 4px;
}

.route span {
    margin-right: 8px;
    width: 40px;
    font-size: 13px;
    color: #A0A0A0;
}

.route p:first-child {
    color: #D9B430;
    font-weight: 500;
    font-size: 13px;
}

.book {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.btn-book {
    width: 220px;
    background-color: #47BE61;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.main-page .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}

.hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 34px;
}

.hours div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 36px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #D9B430;
    background-color: rgba(217, 180, 48, 0.10);
    border: 1px solid #D9B430;
    border-radius: 2px;
}

.hours .dummy {
    width: 70px;
    height: 0;
    margin: 0;
    border: 0 solid transparent;
}

.hours .booked {
    color: #D0D0D0;
    background-color: rgb(208, 208, 208, 0.10);
    border: 1px solid #D0D0D0;
    cursor: not-allowed;
}

.price-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
    padding: 20px;
}

.header {
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 500;
}

.header span {
    width: 50%;
    text-align: center;
}

.bus-stop-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bus-stop-price + .bus-stop-price {
    margin-top: 15px;
}

.bus-stop-price .bus-stop {
    width: 50%;
    color: rgb(217, 180, 48);
    font-weight: 500;
}

.bus-stop-price .price {
    width: 25%;
    text-align: center;
}

.note {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}

