.profile-page.page .main {
    display: flex;
    align-items: flex-start;
}

.profile-page .data-change {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.profile-page .data-change button {
    width: 180px;
    height: 48px;
}

.profile-page .data-change button + button {
    margin-left: 26px;
}

.profile-page .client-data {
    display: flex;
    justify-content: space-between;
    height: 48px;
}