.report {
    display: flex;
}

.report .row {
    display: flex;
    justify-content: space-between;
}

.report input {
    width: 534px;
}

.report .dropdown-container {
    width: 534px;
}

.report .dropdown {
    margin-bottom: 12px;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.report .submit {
    color: white;
    width: 180px;
    height: 48px;
}

.booking-check {
    display: flex;
    justify-content: space-between;
}

.booking-check span:first-child {
    width: 140px;
}

.booking-check span:nth-child(2) {
    width: 180px;
}

.booking-check span:nth-child(3) {
    width: 180px;
}

.booking-check span:nth-child(4),
.booking-check span:nth-child(5) {
    width: 100px;
    text-align: center;
}

.booking-check span:nth-child(6) {
    width: 120px;
    text-align: center;
}