.report {
    display: flex;
}

.report .row {
    display: flex;
    justify-content: space-between;
}

.report input {
    width: 534px;
}

.report .dropdown-container {
    width: 534px;
}

.report .dropdown {
    margin-bottom: 12px;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.route-report .submit-container .submit {
    color: white;
    width: 180px;
    height: 48px;
    margin-top: 28px;
}

.booking-check {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.booking-check span {
    display: flex;
    align-items: center;
}

.booking-check span:first-child {
    width: 140px;
    padding-left: 12px;
}

.booking-check span:nth-child(2) {
    flex: 1;
}

.booking-check span:nth-child(3) {
    flex: 1;
}

.booking-check span:nth-child(4),
.booking-check span:nth-child(5) {
    flex: 1;
    display: flex;
    justify-content: center;
}

.booking-check span:nth-child(6) {
    flex: 1;
    display: flex;
    justify-content: center;
}

.booking-check span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 35px;
}

.booking-check .delete {
    width: 35px;
    height: 35px;
}

.booking-check:nth-child(2n + 1) {
    background-color: rgb(240, 240, 240);
}

.booking-check .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\2716";
    width: 35px;
    height: 35px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    background-color: rgb(216, 74, 65);
}

input[type=checkbox] + label {
    display: block;
}

input[type=checkbox]:checked + label:before {
    background-color: rgb(71, 190, 97);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    content: "\2714";
}