.filters {
    display: flex;
    justify-content: space-between;
}

.filter-container {
    display: flex;
}

.tile.dark {
    display: flex;
    justify-content: space-between;
    background-color: #30302A;
    color: white;
}

.tile.dark span:first-child {
    width: 240px;
    text-align: left;
}

.tile.dark span {
    width: 115px;
    text-align: center;
}

.timetable-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.timetable-item-container > .tile {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2px;
}

.timetable-item-container .tile p {
    font-weight: 500;
}

.name-proffesion-container {
    display: flex;
    align-items: center;
    width: 240px;
    height: 100%;
}

.name-proffesion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.proffesion {
    color: #D9B430;
    font-size: 13px;
    font-weight: 500;
}

.avaible-container {
    display: flex;
}

.timetable-item-container .tile {
    align-items: flex-start;
}

.timetable-item-container .tile .available,
.timetable-item-container .tile .unavailable  {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 4px;
}

.timetable-item-container .tile .available > span,
.timetable-item-container .tile .unavailable > span {
    padding-left: 14px;
}

.timetable-item-container .tile .available {
    background-color: #47BE61;
}

.timetable-item-container .tile .unavailable {
    background-color: #C73535;
    background-image: linear-gradient(120deg, transparent 25%, rgba(255,255,255,0.05) 25%, rgba(255,255,255,0.05) 50%, transparent 50%, transparent 75%, rgba(255,255,255,0.05) 75%, rgba(255,255,255,0.05) 100%);
    background-size: 9.24px 16.00px;
}

.timetable-item-container .tile .add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9B430;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 4px;
    cursor: pointer;
}

.timetable-item-container .tile .dummy {
    width: 40px;
    height: 40px;
}

