.vehicle-info-page .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vehicle-info-page .tile {
    margin-bottom: 30px;
    background-color: white;
    font-weight: unset;
}

.vehicle-info {
    display: flex;
    justify-content: space-between;
}

.vehicle-info + .vehicle-info {
    margin-top: 10px;
}

.vehicle-info span:first-child {
    width: 220px;
    margin-right: 140px;
}

.vehicle-info span:last-child {
    width: 170px;
}

.vehicle-info.route-info span:first-child {
    display: flex;
    align-items: center;
}

.vehicle-info-page button {
    height: 36px;
    width: 120px;
    background-color: #47BE61;
    color: white;
    border-radius: 2px;
    margin-top: 12px;
}

.vehicle-item .vehicle-info span:first-child {
    font-weight: 500;
}