table {
    font-size: 14px;
}

table,
th,
td {
    border: none;
    border-spacing: 0;
}

th {
    padding: 12px 8px;
    font-weight: 400;
    color: #EAEAEA;
}

tr {
    background-color: #FFFFFF;
}

thead tr:nth-child(1) {
    background-color: #20201A;
}

thead tr:nth-child(2) {
    background-color: #E4E4E4;
}

thead tr:nth-child(2) th {
    color: #20201A;
}

thead th:nth-child(1) {
    min-width: 100px;
}

tbody td:nth-child(1) {
    background-color: #E4E4E4;
}

tbody td:nth-child(1) > span {
    display: block;
    padding: 4px 8px;
    cursor: default;
}

tbody td:nth-child(1) span.role-parent {
    display: flex;
    align-items: center;
    background-color: #DDDDDD;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

tbody span.role-parent .role-parent__arrow {
    margin-right: 4px;    
    font-size: 10px;
    color: #404040;
}

tbody tr:hover td,
tbody tr:hover td > span,
tbody tr:hover td > span.role-parent {
    background-color: rgba(0,0,0,0.1);
}

tbody td:nth-child(n + 3) {
    padding: 8px 0; 
    text-align: center;
}

tbody td {
    border-top: 1px solid #EAEAEA;
}

/* .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.date {
    font-size: 20px;
    color: #D9B430;
}

.vehicle-data {
    display: flex;
    justify-content: space-between;
}

.vehicle-data + .vehicle-data {
    margin-top: 20px;
}

.vehicle-data span:first-child {
    font-weight: normal;
}

.vehicle-data span.parking {
    font-weight: 500;
}

.parking-info {
    color: #D9B430;
} */



.react-calendar-timeline {
    width: 100%;
}

.rct-sidebar-row .group,
.react-calendar-timeline .rct-horizontal-lines .group,
.rct-sidebar-row .section,
.react-calendar-timeline .rct-horizontal-lines .section {
  background-color: #EAEAEA;
  padding-left: 12px;
}

.rct-sidebar-row .section,
.react-calendar-timeline .rct-horizontal-lines .section {
  font-weight: 500;
  background-color: #DDDDDD;
}

div.react-calendar-timeline div.rct-sidebar div.rct-sidebar-row {
    border-bottom: 1px solid #EAEAEA;
}

div.react-calendar-timeline div.rct-sidebar div.rct-sidebar-row {
    padding: 0;
}

div.react-calendar-timeline div.rct-calendar-header div:first-child {
    background-color: #20201A;
    height: 48px !important;
}

div.react-calendar-timeline div.rct-calendar-header div:last-child {
    background-color: #DDDDDD;
    height: 48px !important;
}

div.react-calendar-timeline div.rct-calendar-header div:last-child > div.rct-dateHeader {
    border: none;
}

div.react-calendar-timeline div.rct-header-root {
    background-color: #20201A;
    border-bottom: none;
}

div.react-calendar-timeline div.rct-horizontal-lines div.rct-hl-even, 
div.react-calendar-timeline div.rct-horizontal-lines div.rct-hl-odd {
    border-bottom: 1px solid #EAEAEA;
}

div.react-calendar-timeline div.rct-horizontal-lines div.rct-hl-odd {
    background-color: initial;
}

div.rct-vertical-lines > div.rct-vl.rct-day-1,
div.rct-vertical-lines > div.rct-vl.rct-day-2,
div.rct-vertical-lines > div.rct-vl.rct-day-3,
div.rct-vertical-lines > div.rct-vl.rct-day-4,
div.rct-vertical-lines > div.rct-vl.rct-day-5 {
    border-left: none;
}

div.react-calendar-timeline div.rct-outer {
    background-color: white;
}

div.react-calendar-timeline div.rct-sidebar {
    border-right: none;
    
}
div.react-calendar-timeline div.rct-sidebar,
div.react-calendar-timeline div.rct-sidebar div:first-child,
div.react-calendar-timeline div.rct-header-root div:first-child {
    width: 250px !important;
}

div.react-calendar-timeline div.rct-header-root div.rct-calendar-header {
    width: calc(100% - 250px) !important;
}

div.react-calendar-timeline div.rct-calendar-header  {
    border: none;
}