.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.date {
    font-size: 20px;
    color: #D9B430;
}

.vehicle-data {
    display: flex;
    justify-content: space-between;
}

.vehicle-data + .vehicle-data {
    margin-top: 20px;
}

.vehicle-data span:first-child {
    font-weight: normal;
}

.vehicle-data span.parking {
    font-weight: 500;
}

.parking-info {
    color: #D9B430;
}